.main-wrapper{
    margin-top: 0;
    z-index: 100;
    background-color: #fff;
    margin-bottom: 380px;
    position: relative;
    display: table;
    width:100%;
}
.full-width{
    position: relative;
    z-index: 100;
}
.full-width-inner{
    padding: 0px;
}
.banner-holder{
    margin-bottom: 0 !important;
    margin-left: -15px;
    margin-right: -15px;
}
.banner-column-container{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.banner-column-container-inner{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.banner-slider-container{
    margin-bottom: 0 !important;
}
.banner-slider-full-width{
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    overflow: visible;
    max-width: none !important;
}
.banner-text{
    color:#211f1f;
    position: absolute;
    top:50%;
    left:27%;
}
