
body {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #959494;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
}

ol, pre, ul{
  list-style-position: inside;
  margin: 15px 0;
}
h4 {
  font-size: 15px;
  line-height: 1.48em;
  font-weight: 500;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: Poppins,sans-serif;
}
h4 a{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
h2{
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 1.142857142857143em;
  letter-spacing: .05em;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6{
  margin: 25px 0;
  font-family: Poppins,sans-serif;
  color: #211f1f;
}
h5{
  font-size: 16px;
  line-height: 1.6875em;
  font-weight: 300;
  text-transform: initial;
  color: inherit;
}
.grid-row{
  margin-left: -15px;
  margin-right: -15px;
}
.grid-row-section{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  z-index: 20;
}
.grid-col-4{
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  box-sizing: border-box;
}
p{

  margin: 11px 0;
}
.grid-col-12{
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  box-sizing: border-box;
}
svg{
  vertical-align: middle;
  -webkit-transition: color .2s ease-in-out,fill .2s ease-in-out;
  -moz-transition: color .2s ease-in-out,fill .2s ease-in-out;
  transition: color .2s ease-in-out,fill .2s ease-in-out;
}
.toilet-row{
  margin-left: -15px;
  margin-right: -15px;
}
.toilet-row:before{
  content: " ";
  display: table;
}
.toilet-row:after{
  content: " ";
  display: table;
  clear: both;
}
.toilet-custom{
  padding-top: 5px !important;
}
.toilet-custom-1{
  margin-top: 60px !important;
  margin-bottom: 40px !important;
}
.toilet-custom-2{
  padding-right: 15% !important;
  padding-left: 15% !important;
}
.well-played-bro-row{
  margin-bottom: 0 !important;
}
.toilet-col-6{
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before{
  content: " ";
  display: table;
}
.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}
.toilet-col-12{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.toilet-col-inner{
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.img, .well-played-caption{
  max-width: 100%;
  height: auto;
}
a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, p a:hover {
  color: #959494;
}
.well-played-bro-column{
  padding-left: 0;
  padding-right: 0;
}
.toilet-col-container{

}
.toilet-icon{
  line-height: 0;
  font-size: 14px;
  margin-bottom: 35px;
  padding-bottom: 0 !important;
}
.toilet-icon-outer{
  box-sizing: border-box;
  text-align: center;
}
.toilet-icon-inner{
  max-width: 100% !important;
  line-height: 2.85em !important;
  text-align: center;
  display: inline-block;
  border: 2px solid transparent;
  width: 4em;
  height: 4em;
  box-sizing: content-box;
  position: relative;
}
.toilet-icon-icon{
  font-size: 2.15em;
  font-style: normal;
  line-height: 1 !important;
  font-size-adjust: none;
  font-stretch: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  -webkit-font-language-override: normal;
  font-language-override: normal;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant: normal;
  text-rendering: auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: #2a2a2a;
  font-size: 2.85em !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
.toilet-icon-icon:before{
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  width: inherit;
  height: inherit;
  font-size: 1em;
  text-align: center;
  text-rendering: optimizelegibility;
  content: "\f004";
}
