
body {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #959494;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
}

ol, pre, ul{
  list-style-position: inside;
  margin: 15px 0;
}
h4 {
  font-size: 15px;
  line-height: 1.48em;
  font-weight: 500;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: Poppins,sans-serif;
}
h2{
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 1.142857142857143em;
  font-weight: 500;
  letter-spacing: .05em;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6{
  margin: 25px 0;
  font-family: Poppins,sans-serif;
  color: #211f1f;
}
.grid-row{
  margin-left: -15px;
  margin-right: -15px;
}
.grid-row-section{
  position: relative;
  width: 1100px;
  margin: 0 auto;
  z-index: 20;
}
.grid-col-4{
  float: left;
  width: 33.33333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  box-sizing: border-box;
}
p{

  margin: 11px 0;
}
.grid-col-12{
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  box-sizing: border-box;
}
svg{
  vertical-align: middle;
  -webkit-transition: color .2s ease-in-out,fill .2s ease-in-out;
  -moz-transition: color .2s ease-in-out,fill .2s ease-in-out;
  transition: color .2s ease-in-out,fill .2s ease-in-out;
}
.toilet-row{
  margin-left: -15px;
  margin-right: -15px;
}
.toilet-row:before{
  content: " ";
  display: table;
}
.toilet-row:after{
  content: " ";
  display: table;
  clear: both;
}
.toilet-custom{
  padding-top: 5px !important;
}
.well-played-bro-row{
  margin-bottom: 0 !important;
}
.toilet-col-6{
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before{
  content: " ";
  display: table;
}
.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}
